{# templates/default/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}BNEE Download asset{% endblock %}

{% block body %}

    <div class="container bnee-container">
		<div class='header'>
		</div>

		<div class='content'>
		</div>

		<div class='footer'>
		</div>
	</div>
{% endblock %}